.cv_input_text_box_wrapper {
  display: flex;
  flex-direction: column;
}

.cv_input_color_text_box_label {
  color: white;
  font-size: 12px;
  margin-bottom: 2px;
}

.cv_input_text_box {
  padding: 9px 12px;
  outline: none;
  background-color: #424242;
  color: white;
  border: 1px solid transparent;
  border-radius: 4px;
}

.cv_input_text_box:focus {
  border: 0.8px solid #eeee;
}

.cv_input_text_box::placeholder {
  color: rgba(252, 247, 247, 0.521);
}

/* ----------css for cv-input-text-box type color---------------- */

.cv_input_text_box__ball {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #e2e8f0;
}

.cv_input_color_text_box__wrapper {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #424242;
  border: 1px solid transparent;
  border-radius: 4px;
}

.cv_input_color_text_box__wrapper_focus {
  border: 1px solid #eeee;
}

.cv_input_color_text_box {
  border: none;
  outline: none;
  background-color: #424242;
  color: white;
  outline: none;
}

.cv_input_color_text_box:focus {
  border: none;
  outline: none;
}

.cv_input_color_text_box::placeholder {
  color: rgba(252, 247, 247, 0.521);
}
.cv_input_color_text_box_required_label {
  color: #ff6347;
  font-size: 12px;
  margin-top: 4px;
}

.cv_input_date_picker {
  display: flex;
  justify-content: space-between;
}

.cv_input_date_picker > span {
  color: white;
  font-size: 12px;
  padding-right: 24px;
}

.cv_input_date_picker_placeholder {
  color: rgba(252, 247, 247, 0.521);
}

.cv_input_date_picker_icon {
  color: #ccc;
}
