.component_kit_wrapper {
    padding: 20px;
    background-color: #212121;
    display: flex;
    gap: 12px;
}
.btn-kits {
    padding: 50px 0;
    background-color: #212121;
    gap: 12px;
    display: flex;
}
