.btn-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 20px;  
}
.normal-btn {
    cursor: pointer;
    padding: 6px 24px;
    outline: none;
    background-color: #212121;
    color: #fff;
    border: 0.8px solid #eeee;
    border-radius: 4px;
    font-size: 0.8rem;
}
/* .btn-normal, .btn-red {
    font-weight: bold ;
} */
.normal-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.btn-red:hover {
    background: #C53030!important;
}
.btn-white:hover {
    background: rgb(221, 221, 221)!important;
}

/* styles for the buttons with icons.... */
.icon-btn-wrapper {
    cursor: pointer;
    display: flex;
    margin: 0 20px; 
    border: 0.8px solid #eeee;
    border-radius: 4px;
}
.white-btn-icon{
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
    font-size: 0.8rem;
    margin: 0 5px;
    padding: 6px 0 8px;

}
.icon-white {
    cursor: pointer;
    padding: 0 18px;
    color: #000;
}
.label-white{
    cursor: pointer;
    padding-right: 18px;
    color: #000;
}

.icon-btn-wrapper .btn-icon, .btn-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
    font-size: 0.8rem;
    margin: 0 5px;
    padding: 6px 0 8px;
}
.icon-btn-wrapper .btn-icon {
    padding: 0 12px;
    color: rgb(228, 228, 228);
}
.icon-btn-wrapper .btn-label{
    padding-right: 12px;
    color: #fff;
}

.icon-btn-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.white-btn-icon:hover {
    background: rgb(221, 221, 221)!important;
}

