.columns-leftsidbar {
  display: flex;
  flex: 1;
  min-height: calc(100vh - 71px);
  .main {
    flex: 1;
    background: #fff;
    padding: 35px 65px;
    @include mqmax('md') {
      padding: 35px;
    }
  }
  .sidebar {
    padding: 35px 18px 0 0;
    width: 20%;
    border-right: 1px solid #d3d4d9;
  }
}
